{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block title %}My Page{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        {% if name %}
            <h1>Welcome, {{ name }}</h1>
        {% else %}
            <h1>Your name please</h1>
        {% endif %}

        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.name, class='form-control',
               placeholder='Write down your name here...') }}
            <input type="submit" value="Go">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='myscripts.js') }}"></script>
    {{ super() }}
{% endblock %}