{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block title %}My Page{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ utils.flashed_messages(messages) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div class="row">
            <h1>Dice roller: 0 to {{ range }} with target {{ target }}</h1>
        </div>
        <div class="row">
            <form method="POST" action="/">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.target, class='form-control',
               placeholder='And the target number... between 0 and ' + range ) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">Roll</div>
            <div class="col-sm-4" id="roll_value"></div>
            <div class="col-sm-4" id="hit_value"></div>
        </div>
    </div>
{% endblock %}

